body {
    font-family: 'Times New Roman', Times, serif;
    margin: 45px 120px;
    background-color: #f3c2a5;
    color: #5c2f02;
    width: 410px;
}
h3 {
    text-align: center;
}
p {
    text-align: justify;
    line-height: 1.3em;
}
.rgt {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}
.krolik {
    float: left;
    width: 150px;
    margin-right:5px;
}
.alisa {
    float: right;
    width: 40px;
    margin-left: 5px;
    margin-top: 20px;

}
hr {
    color: #5c2f02;
}