body {
    font-family: "Canela Deck", serif;
    font-size: larger;
    background-image: url("bgitaly.jpg");
    background-size: 100%;
}

h1 {
    text-align: center;
    background-color: lightgoldenrodyellow;


}
.roma  {
    margin-left: 10px;
    margin-right: 15px;
    align-self: end;
}
