body {
    font-family:Tahoma, serif;
}
table {
    width: 700px;
    border: solid 3px #FF7340;
    border-spacing: 4px;
    align-content: center;
}
caption {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #FF7340;
}
th {
    text-align: center;
    font-weight: bold;
    border: solid 1px #FF7340;
    border-spacing: 1px;
    background: #FF7340;
    padding: 15px;
}
td {
    border: solid 1px #FF7340;
    padding: 15px;
    text-align: center;
}
.str {
    text-align: left;
    padding: 15px;
}

