body {
    margin: 40px;
    font-family: Arial, serif;
    background-color: antiquewhite;
}
p {
    text-align: justify;
}
ol {
    list-style-type: lower-greek;
}
img {
    padding: 15px;
}
.pravo {
    float: right;
}
.levo {
    float: left;
}
