body {
    background: gray url("map_bg.jpg");
    font-family: Arial, serif;
    color: #2d4e4f;
    text-align: center;
}
iframe {
    width: 270px;
    height: 270px;
}
#main {
    width: 600px;
    margin: 0 auto;
    position: relative;
}
#levo {
    float: left;
}
#pravo {
    float: right;
}
.menu {
    margin: 0 auto;
}
.menu li {
    display: block;
    border: 2px solid #2d4e4f;
    padding: 15px;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #2d4e4f;
}
a:hover {
    color: #2d4e4f;
}