ul {
    list-style-type: none;
    padding: 30px;
}
.menu > li {
    float: left;
    position: relative;
}
.menu > li:last-child {
    left: 20px;
}
.menu > li > ul > li {
    width: 117px;
    padding-top: 20px;
}
/* Links inside the dropdown */
.menu > li > ul > li:hover {
    color: lightslategrey;
}
/* DropDown */
.menu > li > ul {
    font-family: "Roboto Light", serif;
    font-size: 18px;
    background-color: darkslategrey;
    position: relative;
    box-shadow: 0 0  5px rgba(0, 0, 0, 0.7);
    padding-top: 5px;
    color: black;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}
span {
    font-family: "Corsiva Hebrew", serif;
    font-size: x-large;
    font-weight: normal;
    font-style: unset;
    padding: 2px 6px 0 6px;
    display: inline-block;
    position: relative;
    z-index: 2;
    text-decoration: none;
    text-align: center;
}
.menu > li {
    visibility: hidden
}
span {
    visibility: visible
}
/* Заголовок при наведении */
.menu > li:hover > span {
    background-color: lightslategrey;
    color: black;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0  5px rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
}
.menu > li:hover > ul {
    visibility: visible
}
.menu > li:hover > div {
    visibility: visible
}
.menu > li > div {
    position: relative;
    display: inline-block;
}
body {
    background-image: url("../17-09-2021/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.freehosting-2domains-link {
    display: none;
}
