body {
    font-family: Arial, serif;
    font-size: 13px;
    padding-right: 70%;
    background-image: url("../img/fon.jpg");
    background-size: 100%;
}

p {
    text-align: justify;
}

p:hover {
    color: #fff741;
}

a {
    text-decoration: none;
    background-color: #8B6ED7;
    color: #ffffff;
}

a:visited {
    color: darkmagenta;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.right {
    font-style: oblique;
    text-align: right;
}